<%-include("../partials/head")%> 
<body>
    <%-include("../partials/header")%>
    <main class="container min-vh-100 pt-5">
        <h1>Editar producto/h1>
    </main>
    <%-include("../partials/footer")%> 
      
      <%-include("../partials/script")%> 
</body>
</html>