<!DOCTYPE html>
<html lang="en">
    <% - include("partials/head.ejs") %>
<body>
    <% - include("partials/header.ejs") %>
    <main>
        <section>
            <h2>Flauta Traversal Knight 16 llaves con Estuche</h2>
            <div class="caja-imagen">
                <img src="/img/productDetail/images.jpg" alt="">
            </div>
            <article class="produc-detail">
                <!-- <div>
                    <span>Compartir</span>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div> -->
                <div class="container">
                    <div class="precio">
                        <p class="producto-precio">$32.477</p>
                        <p class="producto-anterior">$40.500</p>
                    </div>
                    <p class="producto-descuento">-30% descuento</p>
                </div>
                <article class="redes-sociales-main">
                    <h4>Compartir</h4>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-instagram" id="instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook-square" id="facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" id="twitter"></i></a></li>
                    </ul>
                </article>
                <div class="botones">
                    <!-- <button class="span-comprar">
                        <a href="" class="det-producto">Comprar</a>
                    </button> -->
                    <button type="submit" class="btn-inicio">
                         <p class="button-comprar">COMPRAR</p>
                         <span class="span1"></span>
                         <span class="span2"></span>
                         <span class="span3"></span>
                         <span class="span4"></span>
                 </button>
                    <span class="caja-carrito">
                        <a href="productCart" class="det-carrito">Agregar Carrito</a>
                    </span>
                </div>
                
            </article>
        </section>
    </main>
    <% - include("partials/footer.ejs") %>
</body>
</html>