<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="header-agregarProducto">
        <a class="navbar-brand" href="/admin"><img src="/img/logo/logo1.png" id="logo-admin" alt="Logo sonata"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/admin/products">Listado</a></li>
                <li><a class="dropdown-item" href="/admin/products/create">Agregar</a></li>
            </ul>
            </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categoria
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/admin/categories">Crear categorías</a></li>             
            </ul>
            </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/home">Ir al home</a></li>
                <li><a class="dropdown-item" href="/usuario/logout">Cerrar Sesion</a></li>
            </ul>
            </li>
        </ul>

        <!-- <form class="d-flex" action="/admin/search" method="get">
            <input class="form-control me-2" type="search" placeholder="¿Que producto desea buscar?" name="keywords" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form> -->
        </div>
    </div>
</nav>