/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-body);
    width: 100%;
    background-color: #282828;
}
footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2px;
}
footer article h4{
    font-size: 22px;
    color: white;
    margin:3px 0px;
}
footer  article ul li{
    list-style: none;
    font-size: 18px;
    padding-bottom: 2px;
    margin-top: 3px;
}
footer  article ul li a{
    text-decoration: none;
    font-weight: 600;
    color: white;

}
footer article.redes-sociales{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
footer article.redes-sociales h4{
    font-size: 22px;
    color: white;
    text-align: center;
}
footer article.redes-sociales ul{
    display: flex;
    justify-content: center;
} 
footer article.redes-sociales ul li{
    margin-right: 10px;
}
footer article.redes-sociales ul li a i{
    font-size: 30px;
}
footer div.div-p{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    height: 13%;
    background-color: #716F6F;
    font-size: 15px;
    margin-top: 5px;
}
.p-sonata{
    margin: 2px;
    width: 100%;
    text-align: center;
    color: white;
}

#article-des{
    display: none;
}

/* END FOOTER */


/* MEDIA QUERIES */

@media (min-width: 769px){
    :root{
        --font-h1: 25px;
        --font-h4: 20px;
        --font-h4-footer: 20px;
        --font-cp: 12px;
        --font-description-producto:20px;
        --font-footer: 15px;
        --font-redes-sociales: 30px;
    }
    
    footer section article h4{
        margin:5px 0px;
    }
    #article-des{
        display: block;
    }
}

