* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button{
    border-radius: 5px;
    border: solid 1px;
}
/* body {
    width: 100vh;
} */