/* HEADER */
header{
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 100%;
    background-color: #282828;
    top: 0;
    z-index: 10;
}
.i-burguer{
    color: white;
}
header div.div-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    /* background-color: var(--background-gray); */
    width: 100%;
    height: 60px;
    padding: 0 15px;
    /* z-index: 10; */
}
/*  */

header div.div-header div.nav-burguer::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 13px;
    border: solid 10px;
    border-color: transparent transparent #333333;
}
div.img-user{
    background-color: #333333;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px white;
}
div.img-user img{
    /* margin-left: 10px; */
    width: 35%;
    height: 80%;
    border-radius: 50px;
    text-align: center;
}
div.img-user p{
    text-align: center;
    color: white;
}
header div.div-header div.nav-burguer ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    justify-content: space-around;
    color: white;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    height: 80%;
    padding: 1rem;
    text-decoration: none;
}
header div.div-header div.nav-burguer ul li a{
    color: white;
    text-decoration: none;
    
}
header div.div-header div.nav-burguer ul li{
    width: 90%;
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    text-decoration: none;
}


@keyframes burgerNav-in {
    0%{
        left: -100%;
        opacity: 0;
    }
    100%{
        left: 0%;
        opacity: 1;
    }
}
@keyframes burgerNav-out{
    0%{
        left: 0%;
        opacity: 1;
    }
    100%{
        left: -100%;
        opacity: 0;
    }
}
header div.div-header div.nav-burguer{
    position: absolute;
    top: 3.7rem;
    left: 0;
    background-color: #333333;
    width: 200px;
    height: 400px;
    z-index: 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    display: none;
    transition: opacity 0.5s ease-in-out;
    user-select: none;
    animation-name: burgerNav-out;
    animation-duration: 2s;
    text-decoration: none;
}
.nav_input:checked + .nav-burguer{
    opacity: 1;
    display: block;
    animation-name: burgerNav-in;
    animation-duration: 2s;
}
header div.div-header input.nav_input{
    display: none;
}

/*  */
header div.div-header i{
    font-size: 25px;
}
header div.div-header form{
    position: relative;
}
header div.div-header form input{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 14px;
}
header div.div-header form input:focus{
    outline: none;
}
header div form button.buscar{
    display: none;
}
header div form button.buscar i{
    font-size: 13px;
}

header div.div-header form input::placeholder{
    font-size: 13px;
}
.div-img-header{
    width: 45px;
    height: 45px;
}
header nav div{
    width: 100%;
    background-color:#C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 4px; */
}    
header nav div button:hover{
    background-color: black;
}

header nav div label h1.btn-instrumento{
    position: relative;
    color: blacK;
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    /* bottom: 2px; */
}/* 
header nav div label h1.btn-instrumento:hover{
    color: black;
} */

.div-button{
    width: 100%;
    height: 50px;
    border-top: 1px solid white;
    background-color: #282828;
    text-align: center;
    padding-top: 6px;
    height: 50px;
   /*  text-align: center; */
}

/* .label-button{
    width: 100%;
    height: 29px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    text-align: center;
} */
.btn-instruments{
text-align: center;
border: none;
border-radius: 10px;
width: 140px;
height: 30px;
margin: auto;
margin-top: 4px;
cursor: pointer;
z-index: 12;
position: relative;
background: linear-gradient(to top, #f9f1f1,#fbd38e) ;
}
.btn-instruments:hover{
background: linear-gradient(to top, #fbd38e, #f9f1f1);
}
.ul-button{
   position: absolute;
   height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 34px;
    left: -10px;
    width: 160px;
    height: 303px;
    background-color: #333333;/* 
    transition: opacity 0.5s ease-in-out; */
    user-select: none; 
    /*display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;  */
}/* 
ul.ul-button li{
    padding: 10px 0;
    cursor: pointer;
    transition: color .5s ease; 
}*/
ul.ul-button li a{
    color: white
}   
.nav-desplegable{
    display: none;
}
/* 
.navigation-bar{
    display: none;
} */

.h1-instruments{
    font-family: Berkshire Swash;
    cursor: pointer;
}
/* 
.h1-instruments:checked + .btn-instruments{
    opacity: 1;
}
 *//* 
.ul-button::before{
    content: "";
    position: absolute;
    top: -9px;
    left: 70px;
    border: solid 5px;
    border-color: transparent transparent #333333;
} *//* 
.ul-button{
    display: none;
}
.ul-button li a{
    color: white;
} */
/* 
.btn-instruments:checked + .ul-button{
    opacity: 1;
} */


/*  */
header nav div.button-tablet{
    display: none;
}
.caja-desktop{
    display: none;
    background-color: #282828;
}
.session {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #00d900;
    border-radius: 50px;
    position: relative;
    top: 0px;
    right: -3;
}
.sessionOut{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50px;
    position: relative;
    top: 0px;
    right: -3;
}



/* .btn-instruments{
    overflow: hidden;
    transition: 0.2s;
}
.btn-instruments:hover{
    background-color: #8C0000;
    box-shadow: 0 0 10px #8C0000, 0 0 40px #8C0000, 0 0 80px #8C0000;
    transition-delay: 1s;
} */

/* END HEADER */


/* MEDIA QUERIES */

/* Celulares grandes/Tables pequeñas */

@media (min-width: 481px){
    :root{
        --font-h1: 25px;
        --font-h4: 20px;
        --font-h4-footer: 20px;
        --font-cp: 12px;
        --font-description-producto:20px;
        --font-footer: 15px;
        --font-redes-sociales: 30px;
    }
    header nav{
        background-color: white;
    }
    /* header nav div{
        margin: 5px 0;
    } */
    /* header nav div button{
        width: 158px;
        height: 30px;
    } */
    .btn-instruments{
        width: 165px;
        text-align: center;
        height: 30px;
    }
    /* .label-button{
        width: 164px;
    } */
    .ul-button{
    top: 31px;
    left: 2px;
    }
    /* 
    .ul-button::before{
        top: -15px;
        left: 94px;
        border: solid 8px;
        border-color: transparent transparent #333333;
    } */
    .caja-desktop{
        display: none;
    }
}

@media (min-width: 769px){
    :root{
        --font-h1: 25px;
        --font-h4: 20px;
        --font-h4-footer: 20px;
        --font-cp: 12px;
        --font-description-producto:20px;
        --font-footer: 15px;
        --font-redes-sociales: 30px;
    }
    .li-instrumentos-tablets{
        padding-top: 2px;
        font-size: 21px;
    }
    header div.div-header{
        justify-content:space-between;
        padding: 0 13px;
    }
    header div.div-header form input{
        font-size: 20px;
    }
    header div.div-header i{
        font-size: 30px;
        margin-left: 0;
    }
    header div form button.buscar{
        display: block;
        position: absolute;
        right: 1px;
        height: calc(100% - 10px);
        width: 14px;
        border: none;
        background-color: transparent;
        color: #C4C4C4;
        top: 5px;
    }
    header div form button.buscar i{
        font-size: 13px;
    }
    header nav div{
        display: none;
    }
    header nav div{
        height: 35px;
    }
    header nav div button{
        width: 160px;
        height: 32px;
        background: linear-gradient(to top, #712B75, black);
        border: none;
    }
    header nav div button:hover{
        background: linear-gradient(to top, black, #712B75);
    }
    header nav div button h1.btn-instrumento{
        color: black;
        font-family: 'Berkshire Swash', cursive;
        text-align: center;
        width: 100%;
    }
   /*   header nav {
        display: flex;
        width: 100%;
        background-color: white;
        margin-bottom: 5px;
    }  */
    .div-cajaTablet{
        display: flex;
        width: 100%;
        background-color: #282828;
        border: none;
    }/* 
    .button-tablet{ 
        border: none;
    } */
    header nav div.button-tablet{
        display: flex;
        flex-direction: column;
        width: inherit;
        border-top: 1px solid black;
        background-color: #c45333;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }
    div.img-user {
        background-color: #333333;
        width: 100%;
        height: 90px
    }
    header div.div-header div.nav-burguer{
        left: 0;
        width: 300px;
        height: 500px;
    }
    header div.div-header div.nav-burguer::before{
        content: none
    }
}

@media (min-width: 1280px) and (max-width: 2000px){
    :root{
        --font-h4: 25px;
        --font-h4-footer: 25px;
        --font-cp: 14px;
        --font-footer: 16px;
        --font-redes-sociales: 40px;
    }
    header div.div-header{
        justify-content: space-between;
        padding: 0px 30px;
    }
    header div.div-header form{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header div.div-header form input{
        font-size: 25px;
        width: 60%;
    }
    header div.div-header form input::placeholder{
        font-size: 20px;
    }
    header div form button.buscar{
        right: 250px;
        color: black;
        width: 50px;
        top: 6px;
    }
    header div form button.buscar i{
        font-size: 20px;
    }
    header nav div.button-tablet{
        display: none;
    }
   /*  header nav{
        display: flex;
        width: 100%;
        margin-bottom: 5px;
    } */
    .caja-desktop{
        display: flex;
        background-color: #282828;
    }
    .ul-cajaDesktop{
        display: flex;
        width: 100%;

    }

/*     header nav div.button-tablet{
        display: flex;
        width: inherit;
        border-top: 3px solid;
        background-color: #247881;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        padding: 30px 0;
    } *//* 
    header nav div.button-desktop button{
        height: 42px;  
    } */

    header div.div-header div.nav-burguer{
        left: 0;
        width: 300px;
        height: 500px;
    }
    header div.div-header div.nav-burguer::before{
        content: "";
        position: absolute;
        top: -20px;
        left: 32px;
        border: solid 10px;
        border-color: transparent transparent #333333;

    }
}
@media (min-width: 1400px){
    header div form button.buscar{
        display: none;
    }
}