/* @import url("styles.css"); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* --font-roboto: 'Roboto', sans-serif;
    --font-berkshire :'Berkshire Swash', cursive;
*/
/* body{
    width: 100vh;
    height: 100vh;
} */
header.header-principal{
    height: 100vh;
    background: linear-gradient(to top,#182848, #4b6cb7);
    display: flex;
    justify-content: center;
}
.div-caja-principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
} 
img.logo-principal{
    width:240px;
    height: 240px;
}
.h2-principal{
    text-align: center;
    width: 80%;
    color: white;
    font-family: 'Berkshire Swash',  'Roboto', cursive;
}