@import url("styles.css");
/* @import url("header.css"); */

*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content:center ;
    background-color: #fbd38e;
}

main section h2{
    width: 90%;
    margin: 5px 0 10px;
    color: white;
}

main section.productDetail{
    margin-top: 30px;
    width: 90%;
    max-width: 400px;
    margin-bottom: 5px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.div-separador-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja-imagen{
    background-color: white;
    height: 300px;
    width: 90%;
    margin-bottom: 10px;
}
main section div img {
    width: 100%;
    height: 100%;
    object-fit:contain;

/* margin-bottom: 10px; */
}
main section article.produc-detail {
    width: 90%;
    height: 265px;
    display: flex;
    margin-bottom: 13px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* position: relative; */
}
main section article div.container{
    display: flex;
    width: 90%;
    justify-content:space-between;
}

main section article div.botones{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.producto-precio{
    font-size: 30px;
    margin-top: 10px;
}

.producto-anterior{
    font-size: 20px;
    margin-top: 3px;
    color: #39b54a;
    font-weight: bold;
    /* text-align: left; */
    text-decoration:line-through black;
    /* background-color: #f0ebeb; */
    border-radius: 3px;
}

.producto-descuento{
    padding-top: 15px;
    margin-right: 0;
    font-size: 15px;
    color: #39b54a;
    font-weight:bold;
}

.botones{
    font-size: 20px;
}
.span-comprar{
    background-color: #C4C4C4;
    padding: 5px;
    border-radius: 4px;
}

a {
    text-decoration: none;
}
a.det-producto{
    font-size: 1.5rem;
}
span.caja-carrito{
    margin-top: 20px ;
}
a.det-carrito{
    color: #1259c3;
}
/* article.redes-sociales-main{
    display: none;

} */
article.redes-sociales-main h4{
    font-size: 20px;
    color: #1259c3;
}
article.redes-sociales-main ul{
    display: flex;
    justify-content: space-around;
} 
article.redes-sociales-main ul li a i{
    font-size: 15px;
}
article.redes-sociales-main{
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    position: absolute;
    right: 9px;
    bottom: 33px;
}
.btn-inicio{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    background-color:#1259c3;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    text-transform: uppercase;
}
.btn-inicio:hover{
    background: #b32aac;
    box-shadow: 0 0 10px #b32aac, 0 0 40px #b32aac, 0 0 80px #b32aac;
    transition-delay: 1s;
}
.btn-inicio span{
    position: absolute;
    display: block;
}
.a-button{
    display: block;
}
.span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, transparent, #b32aac);
}
.btn-inicio:hover .span1{
    left: 100%;
    transition: 1s;
}

.span3{
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 6px;
    background: linear-gradient(270deg, transparent, #b32aac);
}
.btn-inicio:hover .span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
    
}
.span2{
    top: -100%;
    right: 0;
    width: 6px;
    height: 80%;
    background-color: aqua;
    background: linear-gradient(180deg, transparent, #b32aac);
}
.btn-inicio:hover .span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.3s;
}
.span4{
    bottom: -100%;
    left: 0;
    width: 6px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #b32aac);
}
.btn-inicio:hover .span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
    
}
p.texto-description{
    display: none;
}
i#instagram{
    background: linear-gradient(45deg,#ECD92A, #F74A00, #CE3086, #863DA4);
    border-radius: 50px;
}
i#facebook{
    color: #0572E6;
}
i#twitter{
    color: #1D9BF0;
}
.description-detalle{
    width: 90%;
    font-size: 20px;
    /* text-align: center; */
    margin:15px 0 15px;
}
.product-small-img .img10{
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    margin: 0px 8px 15px;
    cursor: pointer;
    color: white;
    object-fit: contain;
    
}/* 
.cajita-imagen{
    display: flex;
    height: 140px;
} */
.product-small-img{
    height: 120px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .img-container img{
    height: 200px;
} */
/* .img-container{
    padding: 10px;
    width: 45%;
} */


@media (min-width: 769px){
    
   /*  main{
        position: relative;
    } */
    main section.productDetail{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        max-width: 700px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: none;
        border-right: none;
/*         max-height: 300px; */
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
    }
    main section.productDetail h2{
        position: absolute;
        top: -44px;
        left: -36px;
        font-size: 30px;
        color: white;
    }
    .caja-imagen{
        width: 45%;
        height: 270px;
        margin-bottom: 0;
    }
    .div-separador-productos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 300px;
    }
    main section article.produc-detail{
        width: 50%;
        height: 270px;
        /* margin-top: 10px; */
        /* margin-bottom: 10px; */
        /* min-height: 250px; */
        
        /* margin-right: 10px; */
        margin-bottom: 0;
    }
    article.redes-sociales-main h4{
        font-size: 30px;
    }
    article.redes-sociales-main ul li a i{
        font-size: 30px;
    }

    article.redes-sociales-main{
        right: 95px;
        bottom: 41px;
    }
    .product-small-img img{
        padding: 8px;
        /* margin: 10px 10px 15px; */
        cursor: pointer;
        
        
    }
     /*.producto-descuento{
        width: 100%;
        margin: 1px;
        text-align: start;
        font-size: 20px;
    } */
}

/* @media (min-width: 1280px) and (max-width: 2000px){
    p.texto-description{
        display: block;
        width: 70%;
        font-size: 20px;
        font-weight:400;
    }
} */