*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #1259c3;
}
main.main-register{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top,#616161, #9bc5c3);
}
h1.h1-crearCuenta{
    font-size: 40px;
    /* color: white; */
}
hr{
    width: 270px;
    height: 5px;
    background: linear-gradient(to right,rgb(42, 197, 224), #000000);
    border: none;
    border-radius: 6px;
}
main section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
   
}
main section article.article-register{
    margin-top: 5px;
   /*  background-color: #C4C4C4; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section article form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.input-login{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 1.5rem;
    border: none;
}
.input-login::placeholder{
    font-size: 20px;
    color: lightgrey;
}
/* input:focus{
    border: solid 2px;
    border-color: #1259c3;
} */
.input-imagen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.input-register-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    position: relative;
    padding: 0 1rem;
    border-radius: .5rem;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.input-captcha{
    width: 20px;
    margin-top: 10px;
}
.checkbox1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.captcha-robot{
    width: 180px;
    height: 40px;
    font-size: 1.3rem;
    padding: 2.5px;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px black;
    border-radius: 5px;
}

button#button-register{
    text-align: center;
    margin: 15px 0 20px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    background-color: #1259c3;
    text-transform: uppercase;
    cursor:pointer;
}
button#button-register p{
    color: white;
}
/* button#button-register p:hover{
    color: white;
} */
.tengo-cuenta{
    margin-bottom: 10px;
    color: black;
}
.btn-inicio{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #1259c3;
    /* background-color: black; */
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-inicio:hover{
    background: #9bc5c3;
    box-shadow: 0 0 10px #9bc5c3, 0 0 40px #9bc5c3, 0 0 80px #9bc5c3;
    transition-delay: 1s;
}
.btn-inicio span{
    position: absolute;
    display: block;
}
.a-button{
    display: block;
}
.span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #616161);
}
.btn-inicio:hover .span1{
    left: 100%;
    transition: 1s;
}

.span3{
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #616161);
}
.btn-inicio:hover .span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
    
}
.span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 80%;
    background-color: aqua;
    background: linear-gradient(180deg, transparent, #616161);
}
.btn-inicio:hover .span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.3s;
}
.span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #616161);
}
.btn-inicio:hover .span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
    
}
.div-TC{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-top: 10px;
}
.input-TC{
    width: 30px;
    margin-top: 10px;
}
.label-TC{
    width: 70%;
    text-align: center;
    font-size: 16px;
    color: white;
}
.tengo-cuenta{
    margin-bottom: 10px;
}
@media (min-width: 500px){
    .checkbox1{
        justify-content: center;
    }
    .div-TC{
        justify-content: center;
    }
    .captcha-robot{
        margin-left: 15px ;
    }
    .input-TC{
        margin-right: 15px;
    }
}