<!DOCTYPE html>
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>

    <main class="addP">
        <form action="/admin/categories" method="POST">
            <div>
                <label for="name">Nombre de la Categoría</label>
                <input type="text" name="name" placeholder="Ej: Accesorios" id="name">
            </div>

            <div>
                <button type="submit">Crear</button>
            </div>
        </form>

        <div>
            <a href="/admin/categories">Volver</a>
        </div>
    </main>

    <%-include("../partials/footer")%>
</body>
</html>