<!DOCTYPE html>
    <%-include("../partials/head")%>
    <link rel="stylesheet" href="/css/admin/addCategory.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<body>
    <%-include("../partials/header")%>
    <form action="/admin/categories" method="POST" class="form-Category">
        <fieldset class="fieldset-Category">
            <legend class="legend-Category"><h2>EDITAR CATEGORIAS</h2></legend>
          <div class="input-group">
           <span class="span-Category"><i class="fa-solid fa-music"></i></span>
           <p class="p-Category">Nombre de la Categoría</p>
            <input type="text" name="name" placeholder=" Ej: Guitarra" id="name" class="input-Category">
          </div>
          <div>
            <button type="submit" class="button-Category">Editar</button>
        </div>
        </fieldset>
        <div class="div-volver">
        <a href="/admin/categories" class="a-Category">Volver</a>
        </div>
      </form>

    <%-include("../partials/footer")%>
</body>
</html>