<footer>
    <section>
        <article>
            <h4>Cuenta</h4>
            <ul>
                <li>Mi cuenta</li>
                <li>Carrito</li>
                <li>Ayuda</li>
            </ul>
        </article>
        <article>
            <h4>Novedades</h4>
            <ul>
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li>
                    <a href="">Mas vendidos</a>
                </li>
                <li>
                    <a href="">Todas mis compras</a>
                </li>
            </ul>
        </article>
        <article id="article-des">
            <h4>Contacto</h4>
            <ul>
                <li>
                    <a href="">Whatsapp</a>
                </li>
                <li>
                    <a href="">Email</a>
                </li>
                <li>
                    <a href="">Dirección</a>
                </li>
            </ul>
        </article>
    </section>
    <article class="redes-sociales">
        <h4>Redes sociales</h4>
        <ul>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </article>
    <div class="div-p">
        <p class="p-sonata">© TODOS LOS DERECHOS RESERVADOS - 2022 Sonata</p>  
    </div>
</footer>