
<header>
    <div class="div-header">
        <!-- buttom burger -->
        <label for="menu">
            <i class="fa-solid fa-bars"></i> 
        </label>
        <input type="checkbox" name="checkbox" id="menu" class="nav_input">
        <div class="nav-burguer">
            <div class="img-user">
                <img src="../img/usuario/User.jpg" alt="img">
                <p>Señor Github</p>
            </div>
            <ul>
                <li>
                    <a href="">Inici/Registro</a>
                </li>
                <li>
                    <a href="">Mi cuenta</a>
                </li>
                <li>
                    <a href="">Carrito</a>
                </li>
                <li>
                    <a href="">Novedades</a>
                </li>
                <li>
                    <a href="">Historial de compras</a>
                </li>
                <li>
                    <a href="">Metodos de pago</a>
                </li>
                <li>
                    <a href="">Preguntas Frecuentes</a>
                </li>
            </ul>
        </div>
        <!-- buscador -->
        <form action=""> 
            <input type="text" placeholder=" ¿Qué instrumento buscás?">
            <button class="buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <!-- logo -->
        <img src="/img/logo/logo1.png" alt="Logo"> 
    </div>
    <nav>
        <!-- button nav -->
        <div class="button-tablet">
                <button>
                    <h1>Baterias</h1>
                </button>
                <button>
                    <h1>Guitarras</h1>
                </button>
                <button>
                    <h1>Flautas</h1>
                </button>
                <button>
                    <h1>Pianos</h1>
                </button>
        </div>
        <div class="button-desktop">
            <button>
                <h1>Baterias</h1>
            </button>
            <button>
                <h1>Guitarras</h1>
            </button>
            <button>
                <h1>Flautas</h1>
            </button>
            <button>
                <h1>Pianos</h1>
            </button>
            <button>
                <h1>Armonicas</h1>
            </button>
            <button>
                <h1>Acordeon</h1>
            </button>
            <button>
                <h1>Saxofon</h1>
            </button>

        </div>
        <div class="div-button">
            <label for="boton-ins" class="label-button">
                <button class="btn-instruments">
                <h1>Instrumentos</h1>
                </button>
            </label>
            <input type="checkbox" name="checkbox" id="boton-ins" class="input-button">
            <!-- <div class="div-ul-button"> -->
                <ul class="ul-button">
                    <li>
                        <a href="#">Baterias</a>
                    </li>
                    <li>
                        <a href="">Guitarra</a>
                    </li>
                    <li>
                        <a href="">Flautas</a>
                    </li>
                    <li>
                        <a href="">Pianos</a>
                    </li>
                    <li>
                        <a href="">Armonicas</a>
                    </li>
                    <li>
                        <a href="">Acordeon</a>
                    </li>
                    <li>
                        <a href="">Saxofon</a>
                    </li>
                </ul>
            <!-- </div> -->
        </div>
    </nav>
    <nav class="nav-instrumento-boton">
        
    </nav>
</header>


