
<header style="z-index: 10;">
    <div class="div-header">
        <!-- buttom burger -->
        <label for="menu">
            <i class="fa-solid fa-bars"></i> 
        </label>
        <input type="checkbox" name="checkbox" id="menu" class="nav_input">
        <div class="nav-burguer">
            <div class="img-user">
                <% if (typeof session.userActive != "undefined") { %>
                    <img src="img/avatar/<%=session.userActive.avatar%>" alt="img" style="border: 50%;">
                        <span class="session"></span>
                    <h2 style="color: white; margin-right: 15px;"><%=session.userActive.name%></h2>
                <% } else { %>
                    <img src="../img/usuario/User.jpg" alt="img">
                    <span class="sessionOut"></span>
                    <a style="color: white;" href="/usuario/login">INICIAR SESION</a>
                <% } %>
            </div>
            <ul>
                <% if (typeof session.userActive != "undefined") { %>
                    <% if (session.userActive.rol === "ADMIN") { %>
                        <li>
                            <a href="/admin">ADMIN</a>
                        </li>
                    <% } %>
                    <li>
                        <a href="/usuario/perfil">Mi perfil</a>
                    </li>
                    <li>
                        <a href="">Novedades</a>
                    </li>
                    <li>
                        <a href="/carrito">Carrito</a>
                    </li>
                    <li>
                        <a href="">Metodos de pago</a>
                    </li>
                    <li>
                        <a href="/faq">Preguntas Frecuentes</a>
                    </li>
                    <li>
                        <a href="/usuario/logout">Cerrar Sesion</a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/usuario/registro">Registro</a>
                    </li>
                    <li>
                        <a href="">Novedades</a>
                    </li>
                    <li>
                        <a href="/usuario/login">Carrito</a>
                    </li>
                    <li>
                        <a href="">Metodos de pago</a>
                    </li>
                    <li>
                        <a href="/faq">Preguntas Frecuentes</a>
                    </li>
                <% } %>
                
            </ul>
        </div>
        <!-- buscador -->
        <form action="/search" method="get"> 
            <input type="text" name="keywords" placeholder=" ¿Qué instrumento buscás?">
            <button class="buscar" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <!-- logo -->
        <a href="/home">
            <img src="/img/logo/logo1.png" alt="Logo" class="div-img-header"> 
        </a>
        
    </div>
    <nav>
        <nav class="div-button">
            <div class="btn-instruments"  onclick="dropMenu()">
                <h1 class="h1-instruments">Instrumentos</h1>
                <nav class="nav-desplegable" id="navDesplegable">
                    <ul class="ul-button">
                        
                        <li >
                            <a href="#">Guitarras</a>
                        </li>
                        <li>
                            <a href="">Baterias</a>
                        </li>
                        <li>
                            <a href="">Pianos</a>
                        </li>
                        <li>
                            <a href="">Saxofones</a>
                        </li>
                        <li>
                            <a href="">Trompetas</a>
                        </li>
                        <li>
                            <a href="">Violonchelos</a>
                        </li>
                        <li>
                            <a href="">Banjos</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="button-tablet">
                <ul class="div-cajaTablet">
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Guitarras</a>
                    </li>
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Baterias</a>
                    </li>
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Pianos</a>
                    </li>
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Saxofones</a>
                    </li>
                    <!--<li class="btn-instruments">Trompetas</li>
                    <li class="btn-instruments">Violonchelos</li>
                    <li class="btn-instruments">Banjos</li> -->
                </ul>
            </div>
            <div class="caja-desktop">
                <ul class="ul-cajaDesktop">
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Guitarras</a>
                    </li>
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Baterias</a>
                    </li>
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Pianos</a>
                    </li>
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Saxofones</a>
                    </li>
                    <li class="btn-instruments li-instrumentos-tablets">
                       <a href="" class="h1-instruments">Trompetas</a>
                    </li>
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Violonchelos</a>
                    </li>
                    <li class="btn-instruments li-instrumentos-tablets">
                        <a href="" class="h1-instruments">Banjos</a>
                    </li>
                </ul>
            </div>
        </nav>     
    </nav>
</header>


