#body-listadoProducto{
    background: linear-gradient(to bottom, #9BC5C3, #616161);
}
#main-listadoProducto{
   /*  background-color: red; */
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
/* .div-caja-table{
    width: 95%;
    background-color: #146C43;
} */
/* #id-tablet-listaProductos{
    width: 95%;
    background-color: aqua;
} */

/* Mati si lees esto, ayudame por favor a encontrar el error de porque la tablet(?) no se reduce al disminuir para celular, pero si el main, header, footer e incluso el div padre que le puse a tablet */

#logo-admin{
    width: 3.5rem;
}
#btn-admin-modificacion{
    border-radius: 13px;
    color: white;
    background-color: #146C43;
    margin: 1px;
}
#btn-admin-borrar{
    border-radius: 13px;
    color: white;
    background-color: #B02A37;
    margin: 1px;
}
h6{
    color: white;
}