<%-include("../partials/head.ejs") %>
<body style="background-color:black; height: 100%;">
    <%-include("../partials/header.ejs") %>
    <div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
        <h1 style="color: white; text-align: center;">Querido JONA o MATI, se lo mucho que desean ingresar, pero lamento informarles que no tienen el acceso habilitado.</h1>
        <br>
        <img src="/img/usuario/coraje.png" alt="">
    </div>
</body>
<p style="color: white; text-align: center;">© TODOS LOS DERECHOS RESERVADOS - 2022 Sonata</p>  
<br>
<%-include("./partials/script")%> 
</html>