<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/recuperarcontra.css">
<body>
    <%-include("../partials/header.ejs") %>
    <main>
        <section>
            <h1>Olvidó su contraseña?</h1>
            <hr>
            <p>Introduzca la dirección de email que utilizó para registrarse</p>
            <article class="article-recuPasswd">
                <form action="datosUser.html" method="get">
                    <div>
                        <label for="email" class="correo">Email</label>
                        <input type="email" name="email" id="email" value="" placeholder="  Ingrese su email" class="input-empuje" required>
                    </div>
                    <br>
                    <button type="submit" class="btn-inicio-recuPasswd" id="button-recu-Passwd">
                            Recuperar contraseña
                            <span class="span1"></span>
                            <span class="span2"></span>
                            <span class="span3"></span>
                            <span class="span4"></span>
                    </button>
                    <br>
                    <span class="tengo-cuenta-recu">
                        <a href="<%-"/usuario"%>">Volver</a>
                    </span>
                </form>
            </article> 
        </section>
    </main>
    <%-include("../partials/footer.ejs") %>
</body>
</html>